
<!DOCTYPE html>
<html>
  <head>
    <title>Flights Lab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flight tracker</h1>
    <a href="/flights">All Flights</a> <br>
    <a href="/flights/new">New flight</a>
  </body>
</html>